.header-content {
    margin: 20px 0 50px 0;
}
.billing-container {
    width: 80%;
    height: 80%;
    border: 1px solid #b4afaf;
    background: lightblue;
    .table {
        text-align: center;
    }
}
.action-btn-section{
    margin: 30px 0 0 63%;
    .btn {
        margin: 0 5px
    }
}